- min android 11 (but android 12 required for neo-store auto-updates).
- without any running application whole system uses 3.5 GB RAM.
- 59 GB HDD = 27GB musics + 13GB android-installed-apps + 19GB android-os